<html>
<head>
	<img src="/images/downtown_cropped.jpg" style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
	<style>
		body {background-color:lightbrown}
		h1   {color: #66FFFF}
		h2    {color:  #FFFF66}
		h3    {color: #99FF66}
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body  ng-app="app" ng-controller="homeController">
	<div id="header">
		<h1 align = "center"> RESTAURANT </h1>
		<h2 align = "center"> Rating Analysis and Prediction System! <h2>
		<div style = "text-align : center; height :10%; color: #99FF66 ">      
	</div> 
	<div>
	        <table align = "center" width="600" height= "230"  cellpadding="5">  
			<tr>
			<td align="center" valign="center">
				<a href="#" ng-click = "analysisPage()">
					<img src="/images/analysis.jpg" style="width: 300px; height: 180px; alt="description here" /><br />
				</a>
				<FONT COLOR="#00FF00" size="5px"><b> Analysis</b> </FONT> <br>
			</td>
			<td align="center" valign="center">
				<a href="#" ng-click = "predictionPage()">
					<img src="/images/prediction.jpg" style="width: 300px; height: 180px; alt="description here" /><br />
				</a>
				<FONT COLOR="#00FF00" size="5px"><b> Prediction</b>  </FONT> <br>
			</td>
			</tr>
	</div>
</body>
<script type="text/javascript">
	var app = angular.module('app', []);
	app.controller("homeController", function($scope,$http)
	{
	$scope.analysisPage = function()
	           {
	           		$http({
		            	method: 'GET',
		            	url: '/analysis'
		            	}).success(function(res){
			            	if(res.status === 'Failed'){
		                    	alert(res.error);
		                	} else {
		                    	console.log(res);
		                    	window.location = '/analysis';
		                	}
			            }).error(function(error){
			                console.log("error");
			          	    alert("error");
		        	});
	           };
	 $scope.predictionPage = function()
	           {
	           		$http({
		            	method: 'GET',
		            	url: '/prediction'
		            	}).success(function(res){
			            	if(res.status === 'Failed'){
		                    	alert(res.error);
		                	} else {
		                    	console.log(res);
		                    	window.location = '/prediction';
		                	}
			            }).error(function(error){
			                console.log("error");
			          	    alert("error");
		        	});
	           };          
	});
</script>
</html>